body{
	font-size: 12px;
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 18px;
}
a:focus, a:hover {
	text-decoration: none;
}
/******************* nav ****************/
.navbar{
	min-height:70px;
}
.navbar .navbar-header{
	margin-right: 30px;
}

.navbar-brand{
   height: 70px;
    padding-top: 10px;
}
.navbar-brand img{
    line-height: 69px;
    height: 50px;
}
.navbar-nav > li > a {
	line-height: 40px;
}
.navbar-inverse .navbar-nav > li > a {
	color :#ccc;
	font-size: 12px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > li > a:hover{
	color :#fff;
	background: #080808;
}
.navbar-form input{
	color: #333;
	padding: 5px 12px 6px 18px;
	display: inline-block;
	width: 100%;
	height: 34px;
	outline: 0 none;
	/*color: #fff;*/
	background: #f4f4f4;
	/*border: 0;*/
	border-radius: 20px;
	box-sizing: border-box;
}
.navbar-form input:focus{
	border-left: 1px solid #24a5ff;
	border-top: 2px solid #24a5ff;
	border-bottom: 2px solid #24a5ff;
}
.navbar-form button{
	position: absolute;
	width: 55px;
	height: 34px;
	line-height: 34px;
	top: 0;
	right: -1px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	border: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #f4f4f4;
}
.navbar-form{
	margin-left: 60px;
	margin-top: 18px;
}



.m-tophead{
	margin-bottom: 0;
}
.m-tophead .link{
	display: block;
	/*width: 28px;*/
	/*margin-top: 7px;*/
	color: #787878;
	line-height:40px;
	padding: 15px;

}
.m-tophead .link:hover{
	text-decoration: underline;
	background-color: initial;
}
.m-tophead:hover .link {
	color: #999;
}







/************************ footer *******************/
.footer, .footer a {
	color: #777;
}
.footer {
	padding: 30px 0;
	border-top: 1px solid #e5e5e5;
	margin-top: 70px;
}
.footer-top .about>div {
	height: 110px;
	margin-bottom: 10px;
}
.footer-top .about>div h4 {
	color: #563d7c;
	font-size: 16px;
}
.footer img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.footer p{
	text-indent: 1em;
	font-size: 16px;
}


/****************  banner  ****************/

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-container .img{
	width: 100%;
	height: 313.22px;
}

.movie-items .movie-item .mv-img {
	position: relative;
}

.movie-items .movie-item .mv-img:after {
	box-shadow: inset -5px -50px 100px -15px #000000;
	-webkit-box-shadow: inset -5px -50px 100px -15px #000000;
	-moz-box-shadow: inset -5px -50px 100px -15px #000000;
	-o-box-shadow: inset -5px -50px 100px -15px #000000;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	content: "";
}

.movie-items .movie-item .title-in {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 30px;
	margin-bottom: 20px;
	bottom: 0;
	left: 0;
	position: absolute;
}

.movie-items .movie-item .title-in h5 a {
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}

.movie-items .movie-item .title-in p {
	font-size: 12px;
	color: #ffffff;
}

.movie-items .movie-item .title-in p i {
	color: #f5b50a;
	font-size: 22px;
}

.movie-items .movie-item .title-in p span {
	font-weight: 400;
	font-size: 18px;
}

.movie-items .movie-item:hover .title-in,.movie-items .movie-item:hover img {
	/*-webkit-transition: all 0.5s ease-out;*/
	/*-moz-transition: all 0.5s ease-out;*/
	/*-o-transition: all 0.5s ease-out;*/
	/*transition: all 0.5s ease-out;*/
	/*-moz-opacity: 0.25;*/
	/*-khtml-opacity: 0.25;*/
	/*-webkit-opacity: 0.25;*/
	/*opacity: 0.5;*/
	/*transform: translateY(0);*/
	/*-webkit-transform: translateZ(0);*/
	/*-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);*/
	/*filter: alpha(opacity=25);*/
}

.movie-items .movie-item:hover h5 a {
	color: #dcf836;
}

/****************  banner  ****************/

.body{
	margin-top: 20px;
}
.content{
	padding-right: 10px;
}
/****************** *************************/
.content .excerpt{
    border: 1px solid #eaeaea;
    padding: 20px 20px 20px 220px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: -1px;
}
.excerpt:hover {
	background-color: #f9f9f9;
	position: relative;
	z-index: 2;
}
.excerpt .focus {
	float: left;
	margin-left: -190px;
	/*width: 220px;*/
}
.excerpt .thumb {
	width: 140px;
	height: 200px;
}
.excerpt header {
	margin-bottom: 10px;
}
.excerpt .cat {
	color: #fff;
	background-color: #45BCF9;
	padding: 3px 6px;
	font-size: 12px;
	display: inline-block;
	position: relative;
	top: -2px;
	margin-right: 6px;
}
.excerpt h2 {
	display: inline;
	font-size: 18px;
	line-height: 1.4;
	margin-top: 0;
	font-weight: bold;
}
.excerpt h2 a:hover {
	color: #45B6F7;
}
.excerpt h2 a {
	color: #555;
}
.excerpt .meta {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}
.excerpt time, .excerpt .pv, .excerpt .pc, .excerpt .author {
	margin-right: 20px;
}
.excerpt .meta .fa {
	margin-right: 4px;
}
.excerpt .meta a {
	color: #999;
}
.excerpt .post-like {
	float: right;
}
.excerpt .note {
	font-size: 12px;
	color: #999;
	word-wrap: break-word;
	line-height: 20px;
	margin-bottom: 0;
}



