.movie-information{
	margin-top: 20px;
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
.block-title{
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	margin-left: -10px;
	border-left: 3px solid #ffc600;
	margin-bottom: 20px;
}
.movie-information>div{
	padding: 20px;
	background: #fafafa;
}
.movie-information .detail{
	font-size: 14px;
}
.music-table-list{
	background: #fff;
	padding: 20px 40px;
}
.music-table-list .table{
	border: 1px solid #ddd;
	border-collapse:collapse;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.10);
	border-top:2px solid #ffc600
}
.music-table-list .table thead{
	background: #f7f7f7;
}
.table > thead > tr > th{
	border-bottom: none;
	font-size: 12px;
	font-weight: 900;
	border-right: 1px solid #ddd;
	text-align: center;
}
.table > thead > tr > th:last-child{
	border-right:none;
}
.table > tbody > tr > td:first-child{
	text-align: center;
}
.table > tbody > tr > td{
	font-size: 12px;
	padding: 6px;
	line-height: 1em;
	text-align: center;
}
.table > tbody > tr:nth-child(2n){
	background: #fafafa;
}
.icon-kuwo,.icon-kugou,.icon-qqmusic,.icon-wangyiyun{
	width: 16px;
	height: 16px;
	margin-left: 4px;
	display: inline-block;
}
.icon-kuwo{
	background: url(../images/kuwo.ico) no-repeat center;
	background-size: 100% 100%;
}
.icon-qqmusic{
	background: url(../images/qqmusic.ico) no-repeat center;
	background-size: 100% 100%;
}
.icon-wangyiyun{
	background: url(../images/wangyiyun.ico) no-repeat center;
	background-size: 100% 100%;
}
.icon-kugou{
	background: url(../images/kugou.ico) no-repeat center;
	background-size: 100% 100%;
}
.download-block{
	padding: 20px;
	background: #fff;
	margin-top: 20px;
}
.download-block div{
	padding: 20px;
	background: #fafafa;
}
.source{
	background: #f7f7f7;
	font-size: 12px;
	padding: 2px 6px;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin-right: 10px;
}
.source-list li{
	line-height: 40px;
	height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}
.recommend-block{
	margin-top: 20px;
	background: #fff;
	padding: 20px;
}
.recommend-block>div{
	padding: 20px;
	background: #fafafa;
}
.recommend-block .recommend-box{
	width: calc(16.667% - 8.5px);
	display: inline-block;
	margin-right: 10px;
	background: #fff;
	padding-bottom: 10px;
}
.recommend-block .recommend-box:last-child{
	margin-right: 0;
}
.recommend-block .recommend-box img{
	height: 150px;
	width: 111px
}
.recommend-box .detail{
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}
.recommend-box .detail a{
	color: #555;
	font-size: 14px;
}
