body{
	margin:0;
	font-family: 'NotoSans-Regular';
	background:#2e2e2e;
	padding:2em;
}
@font-face {
      font-family: 'NotoSans-Regular';
      src: url(../fonts/NotoSans-Regular.ttf)format('truetype');
}
@font-face {
      font-family: 'NotoSans-Bold';
      src: url(../fonts/NotoSans-Bold.ttf)format('truetype');
}
@font-face {
     font-family: 'NotoSerif-Bold';
      src: url(../fonts/NotoSerif-Bold.ttf)format('truetype');
}
@font-face {
      font-family: 'NotoSerif-Regular';
      src: url(../fonts/NotoSerif-Regular.ttf)format('truetype');
}
@font-face {
      font-family: 'NotoSerif-Italic';
      src: url(../fonts/NotoSerif-Italic.ttf)format('truetype');
}

body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--content--*/

.search {
  float: left;
  width: 32%;
  padding-top: 22px;
}
.search form {
  width: 75%;
  margin: 0 auto;
  position: relative;
}
.search input[type="search"] {
  border: none;
  padding: 9px 41px 9px 20px;
  font-size: 14px;
  background: #383838;
  color: #A9A8A8;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  border-radius: 30px;
}
button.btn.btn-default {
  border: none;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 21%;
  right: 5%;
  padding: 0;
  outline: none;
   box-shadow: none;
   background: none;
}
button.btn.btn-default:focus {
  background: none !important;
  box-shadow: none !important;
  border-color:none !important;
  
}
span.glyphicon.glyphicon-search {
    font-size: 1.3em;
	color: #515151;
}
span.glyphicon.glyphicon-search:focus {
    outline: none;
}

.logo {
  float: left;
  width: 55%;
  text-align: center;
}
.logo a {
  display: block;
}
.logo a img {
  width: 100%;
	height: 80px;
}
.navbar-default {
    background-color: #111111;
    border-color:#111111;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
	line-height: 80px;
	padding: 0 20px;
	font-size: 15px;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 0;
}
.navbar-default .navbar-nav > li > a img{
	margin-right:6px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFFF10;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color:#111111;
}
.dropdown li a{
	border-left:none;
	display: block;
}
.dropdown-menu > li > a {
    padding:6px 14px;
	font-size: 0.9em;
}
.navbar {
    position: relative;
    min-height:auto;
    margin-bottom: 0px;
    border: 1px solid transparent;
	/*padding:0.5em 0;*/
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*----*/
.slider {
	position: relative;
background: #252525;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides h3{
color:#fff;
font-size:2.4em;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 8px;
	width: 8px;
	display: inline-block;
	border: 2px solid #fff;
	border-radius:50%;
	background:#fff;
}
.callbacks_here a:after{
	border: 2px solid #FFF;
	background:transparent;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 11px;
	z-index: 999;
	left: 47.5%;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 59%;
	left:3%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 63px;
    width: 59px;
  background: transparent url("../images/arrows.png") no-repeat 0px 0px;
  margin-top: -45px;
  }
.callbacks_nav.next {
  left: auto;
  background-position:-76px 1px;
  right:3%;
 }
.banner1{
	background:url(../images/slid1.jpg) no-repeat 0px 0px;
	background-size:cover;
	padding: 0em 4em 0;
	min-height: 470px;
}
.banner-text{
	text-align:center;
}
.banner-grids {
    padding-top: 52px;
}
.banner-text{
	width:66.6%;
	padding:0;
	margin-top:3em;
}
.banner-pic{
	width:27%;
}
.tag{
	margin-bottom:2em;
}
.tag h4 a{
background: url(../images/bck.png) no-repeat 7px 2px;
    color: #fff;
    padding: 8px 36px 6px 15px;
    display: inline-block;
    font-size: 0.7em;
	text-decoration:none;
}
.bnr-info h1{
	color:#fff;
	font-size:2.2em;
	font-family: 'NotoSans-Bold';
	padding:0 5em;
}
.bnr-info p{
	color:#f1dcdb;
	font-family: 'NotoSerif-Regular';
	font-size:1.1em;
	line-height:1.6em;
	    width: 60%;
    margin:1em auto 0 auto;
}
.bnr-info a{
	color:#fff;
	border:1px solid #fff;
	background:transparent;
	padding:8px 2em;
	display:inline-block;
	margin-top:1.5em;
}
.bnr-info a:hover{
	color:#ffc600;
	border:1px solid #ffc600;
}
.banner2{
	background:url(../images/slid2.jpg) no-repeat 0px 0px;
	background-size:cover;
	padding: 0em 4em 0;
	min-height: 470px;
}
.banner-grids2{
	text-align:center;
}
.bnr2-top{
	padding-top:1em;
}
.bnr2-top h3{
	font-family: 'NotoSans-Bold';
	font-size:1.5em;
	color:#fff;
}
.bnr2-top h4{
	 font-family: 'NotoSerif-Italic';
	 color:#999999;
	 font-size:0.95em;
		margin-top:5px;
 }
.bnr2-text{
	margin-top:7em;
}
.bnr2-text p{
	color: #fff;
    width: 64%;
    margin: 0 auto;
    line-height: 1.3em;
    font-family: 'NotoSerif-Regular';
    font-size: 2.3em;
    text-align: center;
}
.dot{
	text-align:center;
	margin-top:4em;
}
/*--content--*/
.banner{
	margin-top:2em;
}
.content{
	margin-top:2em;
}
.content-left{
	float:left;
	width:68%;
	margin-right:2%;
}
.content-right{
	float:left;
	width:28%;
	margin-left:2%;
}
.post1{
	float:left;
	width:32%;
	margin-right:1%;
}
.post2{
	float:left;
	width:66%;
	margin-left:1%;
	background:#9196c8;
	padding:2em;
	position:relative;
	border-radius: 5px;
}
.post1-info{
	background: #141314;
    padding: 0px 27px 21px;
    text-align: center;
	    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sale-box {
    height: 100px;
    right:1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top:0px;
    width: 100px;
}
.sale-box span.on_sale {
    background: #ffc600;
    color: #252525;
    display: block;
    /*left: -9px;*/
    font-size:0.9em;
	font-family: 'NotoSans-Bold';
    padding: 5px 0;
    position: relative;
    text-align: center;
    /*top: 25px;*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 140px;
    z-index: 2;
    text-transform: uppercase;
}
.tag2{
	text-align:center;
}
.tag2 h4 a {
    background: url(../images/tag2.png) no-repeat 7px 2px;
    color: #fff;
    padding:8px 25px 10px 15px;
    display: inline-block;
    font-size: 0.6em;
	text-transform:uppercase;
    text-decoration: none;
}
.post1-info p{
	color:#fff;
	 font-family: 'NotoSerif-Italic';
	 font-size:1.1em;
	 line-height:1.3em;
	 margin-top:0.5em;
}
.post1-info p span{
	 font-family: 'NotoSans-Bold';
	 color:#ffc600;
}
.comments{
	margin-top:1em;
	padding-top:0.7em;
	border-top:1px solid rgba(238, 238, 238, 0.21);
}
.comments ul li{
	display:inline-block;
	margin:0 2px;
	color:#a0a0a0;
	font-size:0.8em;
}
.comments ul li a{
	color:#a0a0a0;
}
.comments ul li a:hover{
	color:#ffc600;
}
.glyphicon {
    top:3px;
}
.glyphicon-comment:before,.glyphicon-time:before,.glyphicon-eye-open:before{
    color:#a0a0a0;
	font-size:15px;
	margin-right:5px;
}
.post2-pic{
		float:left;
		width:50%;
		 padding-right: 13px;
}
.post2-info{
	float:left;
	width:50%;
	    padding-top:3em
}
.post2_text h3 a{
	color:#fff;
	margin-top:0.5em;
	font-size:0.9em;
	 font-family: 'NotoSans-Bold';
	line-height:1.4em;
}
.post2_text h3 a:hover{
	color: #ffc600;
	text-decoration:none;
}
.post2_text p{
	color:#e9eaf4;
	font-size:0.9em;
	line-height:1.4em;
	margin-top:0.7em;
}
.comments2{
	margin-top:1em;
	padding-top:0.7em;
	border-top:1px solid rgba(238, 238, 238, 0.21);
}
.comments2 ul li{
	display:inline-block;
	margin:0 5px;
	color:#e9eaf4;
	font-size:0.8em;
}
.comments2 ul li a{
	color:#e9eaf4;
}
.comments2 ul li a:hover{
	    color: #ffc600;
}
.glyphicon {
    top:3px;
}
.glyphicon-comment2:before {
    content: "\e111";
	color:#e9eaf4;
	font-size:15px;
	margin-right:5px;
}
.glyphicon-time2:before {
    content: "\e023";
	color:#e9eaf4;
	font-size:15px;
	margin-right:5px;
}
.glyphicon-eye-open2:before{
content: "\e105";
color:#e9eaf4;
	font-size:15px;
	margin-right:5px;
}
/*--sec_2--*/
.sec_2{
	margin-top:2em;
}
.post3,.post4,.post5{
	padding:0;
	width: 32%;
}
.post3{
	background:#0e8ad9;
	padding:2em 2em 1em;
	border-radius: 5px;
}
.post3 h3{
	color:#fff;
	font-size:1.2em;
	 font-family: 'NotoSans-Bold';
	 margin-bottom:5px;
	 text-align:center;
}
.post3 h4{
	color:#9fd0f0;
	font-size:0.9em;
	font-family: 'NotoSerif-Italic';
	text-align:center;
}
.post3 p{
	margin-top: 1.5em;
    color: #fff;
    font-size: 1.45em;
    line-height: 1.4em;
    text-align: center;
    font-family: 'NotoSerif';
}
.dot2{
	text-align:center;
	margin-top:2em;
}
.post4{
	margin: 0em 15px;
}
.post4-info{
	background:#fff;
	padding:1em 2em;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.post4-info h3{
	font-size:1em
}
.post4-info h3 a{
	color:#222222;
	margin-bottom:7px;
	display:inline-block;
	text-decoration:none;
	 font-family: 'NotoSans-Bold';
}
.post4-info h3 a:hover{
	color: #ffc600;
}
.post4-info p{
	color:#9C9C9C;
	font-size:0.9em;
	line-height:1.32em;
	font-family: 'NotoSerif';
}
.cmnt{
	border-top: 1px solid rgb(238, 238, 238);
}
.post5{
	background: rgb(111,135,141);
background: -moz-linear-gradient(45deg,  rgba(111,135,141,1) 0%, rgba(225,234,237,1) 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(111,135,141,1)), color-stop(100%,rgba(225,234,237,1)));
background: -webkit-linear-gradient(45deg,  rgba(111,135,141,1) 0%,rgba(225,234,237,1) 100%);
background: -o-linear-gradient(45deg,  rgba(111,135,141,1) 0%,rgba(225,234,237,1) 100%);
background: -ms-linear-gradient(45deg,  rgba(111,135,141,1) 0%,rgba(225,234,237,1) 100%);
background: linear-gradient(45deg,  rgba(111,135,141,1) 0%,rgba(225,234,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f878d', endColorstr='#e1eaed',GradientType=1 );
	padding:3em 2em 1em;
	text-align:center;
	border-radius:5px;
}
.post5 img{
	margin:0 auto;
	width: 50%;
}
.post5 h3{
	color:#fff;
	font-size:1.35em;
	line-height:1.3em;
	margin:1em 0;
	font-family: 'NotoSans-Bold';
}
.post5 p{
	color:#fff;
	font-size:1em;
	line-height:1.32em;
	font-family: 'NotoSerif';
	text-align:center;
}
.cmnt2{
margin-top: 1.4em;
}
/*--sec_3--*/
.sec_3{
	margin-top:2em;
}
.post6 {
    float: left;
    width: 66%;
    margin-right: 1%;
}
.post6{
	background:#111111;
	    border-radius: 5px;
}
.post6-pic{
	float:left;
	width:49%;
}
.post6-pic-info{
	float:left;
	width:50%;
}
.tag3 h4 a {
    background: url(../images/tag3.png) no-repeat 7px 2px;
    color: #ffc600;
    padding: 8px 31px 10px 21px;
    display: inline-block;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
}
.post6-pic-info {
	padding:3em 2em 0 0;
}
.post6-pic-info h3 a{
	color:#fff;
	font-size:1em;
	line-height:1.3em;
	display:inline-block;
	padding-right:1em;
	margin:0.7em 0;
	font-family: 'NotoSans-Bold';
}
.post6-pic-info h3 a:hover{
	color: #ffc600;
	text-decoration:none;
}
.post6-pic-info p{
color:#fff;
	font-size:1.1em;
	line-height:1.32em;
	font-family: 'NotoSerif';
}
.cmnt3{
	border-top: 1px solid rgba(238, 238, 238, 0.18);
	text-align:center;
}
.cmnt3 ul li{
	margin:0 9px;
}
.post7{
    float: left;
    width: 32%;
    margin-left: 1%;
	background:#00a74e;
	padding:2em 1em 1em;
	text-align:center;
	border-radius:5px;
}
.post7 img{
	margin:1em auto 0.5em;
}
.post7 h3 a{
	color: #fff;
    font-size: 0.85em;
    line-height: 1.3em;
    font-family: 'NotoSans-Bold';
}
.post7 h3 a:hover{
	    color: #ffc600;
}
.post7 p{
	color:#88d6ac;
	font-size:0.9em;
	line-height:1.4em;
	margin-top:8px;
}
/*--sec_4--*/
.sec_4{
	margin-top:2em;
}
.post8 {
    float: left;
    width: 32%;
    margin-right: 1%;
    background: #ffc600;
    padding:1em 1em ;
    text-align: center;
    border-radius: 5px;
}
.post8 h3{
	color:#252525;
	 font-family: 'NotoSans-Bold';
	 font-size:7em;
}
.post8-text h4{
	color:#252525;
	font-family: 'NotoSerif-Bold';
	 font-size:1.6em;
	 line-height:1.3em;
	 margin-bottom:0.5em;
}
.post8-text p{
	color:#252525;
	font-size:1.1em;
	line-height:1.32em;
	font-family: 'NotoSerif';
}
.post8-btm{
	margin-top:5px;
}
.post8-btm h5{
		color:#252525;
    font-size: 1.2em;
    font-family: 'NotoSans-Bold';
    margin-bottom: 5px;
    text-align: center;
}
.post8-btm p{
    color: #7c6516;
    font-size: 0.9em;
    font-family: 'NotoSerif-Italic';
    text-align: center;
}
.post9{
	float:left;
	margin-left: 1%;
	width: 66%;
	position:relative;
}
.sale-box2{
    height: 100px;
    right: 1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100px;
}
.sale-box2 span.on_sale {
    background: #ffc600;
    color: #252525;
    display: block;
    left: 9px;
    font-size: 0.8em;
    font-family: 'NotoSans-Bold';
    padding: 5px 0;
    position: relative;
    text-align: center;
    top: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 118px;
    z-index: 2;
    text-transform: uppercase;
}
.profil-post{	
	background:#fff;
	padding:3em;	
	text-align:center;
	border-radius:5px;
}
.profil-post h3{
	color:#222222;
	font-size:1.8em;
	font-family: 'NotoSans-Bold';
	margin-bottom:0.3em;
}
.profil-post p{
	color:#888888;
	font-size:1.15em;
	line-height:1.32em;
	font-family: 'NotoSerif';
}
.profil-post span{
	display:inline-block;
	background:#0e8ad9;
	width:15%;
	margin:0 auto;
	height:3px;
}
.post9_btm{
	margin-top:2em;
}
.video{
	float:left;
	width:49%;
	margin-right:1%;
}
.timer{
	float:left;
	width:49%;
	margin-left:1%;
	background:#111111;
	padding:0.8em 1em;
	border-radius:5px;
}
.post9_btm{
	position:relative;
}
.video h4{
	position:absolute;
	color:#fff;
	font-size:0.9em;
	top: 15px;
    left: 15px;
}
.vd{
	position:absolute;
	right: 53%;
	top: 8%;
}
.vd-cmnt{
	position:absolute;
	text-align:center;
	top:118px;
	left:2%;
}
.vd-cmnt ul li {
    margin: 0 13px;
	color:#fff;
}
.vd-cmnt ul li a{
	color:#fff;
}
.glyphicon-comment3:before {
    content: "\e111";
	color:#fff;
	font-size:15px;
	margin-right:5px;
}
.glyphicon-time3:before {
    content: "\e023";
	color:#fff;
	font-size:15px;
	margin-right:5px;
}
.glyphicon-eye-open3:before{
content: "\e105";
color:#fff;
	font-size:15px;
	margin-right:5px;
}
.jp-controls-holder{
	position:absolute;
}
.timer{
	float:left;
	position:relative;
}
.timmer_btm ul li {
    display: inline-block;
    margin: 0 2px;
}
.timmer_btm ul li a {
    color: #fff;
    font-size: 0.8em;
}
.glyphicon-calendar,.glyphicon-tint{
	padding:0 5px;
}
.timmer_btm {
    margin-top: 24px;
    padding-left: 27px;
}
/*--sec_5--*/
.sec_5{
	margin-top:2em;
}
.post10{
    float: left;
    width: 32%;
    margin-left: 1%;
    background: #fff;
    padding: 2em 1em 1em;
    text-align: center;
    border-radius: 5px;
}
.post10 h3{
	color: #222222;
    font-size: 1.5em;
    font-family: 'NotoSans-Bold';
    margin-bottom: 0.3em;
}
.follow{
		text-align:center;
		margin:1em 0;
}
.follow ul li{
	display:inline-block;
}
.follow ul li {
	margin:0 8px;
}
.follow ul li a{
font-family: 'NotoSans-Bold';
	color:#888;
	font-size:0.95em;
}
.glyphicon-map-marker:before ,.glyphicon-user:before{
	color:#888888;
	font-size:16px;
	margin-right:5px;
}
.flw a{
	color:#333;
	background:#ffc600;
	font-family: 'NotoSans-Bold';
	font-size:1.1em;
	display:block;
	padding:10px 0;
	border-radius:5px;
}
.flw a:hover{
	color:#fff;
	background:#333;
}
.flw p{
	color:#888;
	line-height:1.32em;
	font-family: 'NotoSerif';
	font-size:0.9em;
	margin:0.7em 0;
}
.social{	
  text-align:center;
      margin-left: 14px;
}
.social ul li{
  padding: 0em;
  list-style:none;
  display:inline-block;
  float:left;
      margin-left: -2px;
}
.social ul li a{
 display:inline-block;
}
.social ul li a span.fa {
  background-position: -7px -10px;
}
.social ul li a span.tw {
  background-position:-55px -10px;
}
.social ul li a span.g {
  background-position:-103px -10px;
}
.social ul li span.in {
  background-position:-151px -10px;
}
.social ul li span{
  background:url(../images/icons.png)no-repeat;
  width:50px;
  height:50px;
  display:block;
}
.social ul li span:hover{
	opacity:0.6;
}
.post10 img {
    margin: 0 auto 1em;
    width: 50%;
}
.graph-post{
	float: left;
    width: 66%;
    margin-right: 1%;
	border-radius:5px;
}
/*--graph--*/
.graph{
	padding:2em;
	background:#0b2128;
	border-radius: 7px;
}
canvas#canvas{
    width: 485px!important;
    height: 353px!important;
}
    
/*--sec_6--*/
.sec_6{
	margin-top:2em;
}
.calender{
	float: left;
    width: 66%;
    margin-right: 1%;
}
.map{
	float: left;
    width: 32%;
    margin-left: 1%;
}
/*--calender--*/
.clndr {
    background:#111111;
	    border-radius: 5px;
}
.clnd{
	margin-top:1.5em;
}
.calnder {
  padding: 0;
}
.cal1 .clndr .clndr-table tr .day.today.event .day-contents {
  color: #fff !important;
}
.clndr-top {
  background-color: #ff1744;
  padding: 2em;  
}
.clndr-top h3 {
  color: #FFF;
  font-size: 2em;
  margin: 0;
  letter-spacing: 2px;
}
.clndr-top span{
	display:block;
	margin-top:5px;
}
.column_right_grid.calender {
      width: 100%;
}
.calender-right {
  position: relative;
  background: #FFF;
}
.alert-close, .alert-close1, .alert-close2 ,.alert-close3,.alert-close4,.alert-close5,.alert-close6,.alert-close7,.alert-close8,.alert-close9{
background: url('../images/into.png') no-repeat 0px 0px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right: 20px;
  top: 53px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  z-index: 999;
}
.map iframe {
    width: 100%;
    height:412px;
}
/*--------------------------*/
.posts-grids{
	background:#111111;
	padding:2em 1em 1em;
	border-radius:6px;
}
.posts-grids h3{
	color:#fff;
	font-size: 1.1em;
   font-family: 'NotoSerif-Bold';
    margin-bottom: 15px;
    text-align: center;
	text-transform:uppercase;
}
.post-pic{
	width:20%;
	float:left;
}
.post-grid1 {
    padding: 1.5em 0;
	border-top:1px solid rgba(255, 255, 255, 0.26);
}
.post-pic-text{
	width: 70%;
    float: left;
    margin-left: 7%;
}
.post-pic-text h5 a{
	color:#fff;
	font-family: 'NotoSans-Bold';
	font-size:1.1em;
	margin-bottom:7px;
	display:inline-block;
	text-decoration:none;
}
.post-pic-text h5 a:hover{
	color: #ffc600;
}
.post-pic-text p{
	color:#cfcfcf;
	font-size:0.9em;
	line-height:1.3em;
}
/**/
.followers-sec{
	margin-top:1em;
}
.follow-grid{
	padding:0.7em 1em 0.7em 0;
	border-bottom:1px solid rgba(255, 255, 255, 0.15);
}
.flw-pic{
	float:left;
	width: 15%;
	margin-right:4%;
}
h3.folw-name{
	float:left;
	color:#fff;
	font-family: 'NotoSans-Bold';
	font-size:1.2em;
	width:64%;
	padding-top: 15px;
}
.flwr{
	float:left;
	padding-top: 12px;
}
input[type=checkbox].css-checkbox5:checked + label.css-label5{
    background:url(../images/flws.png) no-repeat -12px -63px;
}
input[type=checkbox].css-checkbox5 + label.css-label5{
    height:35px;
    width:35px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    background: url(../images/flws.png) no-repeat -11px -1px;
}

input[type=checkbox].css-checkbox6:checked + label.css-label6{
    background:url(../images/flws.png) no-repeat -11px -1px;
}
input[type=checkbox].css-checkbox6 + label.css-label6{
    height:35px;
    width:35px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    background: url(../images/flws.png) no-repeat -12px -63px;
}

input[type=checkbox].css-checkbox7:checked + label.css-label7{
    background:url(../images/flws.png) no-repeat -11px -1px;
}
input[type=checkbox].css-checkbox7 + label.css-label7{
    height:35px;
    width:35px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    background: url(../images/flws.png) no-repeat -12px -63px;
}

input[type=checkbox].css-checkbox8:checked + label.css-label8{
    background:url(../images/flws.png) no-repeat -11px -1px;
}
input[type=checkbox].css-checkbox8 + label.css-label8{
    height:35px;
    width:35px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    background: url(../images/flws.png) no-repeat -12px -63px;
}

input[type=checkbox].css-checkbox9:checked + label.css-label9{
    background:url(../images/flws.png) no-repeat -12px -63px;
}
input[type=checkbox].css-checkbox9 + label.css-label9{
    height:35px;
    width:35px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    background: url(../images/flws.png) no-repeat -11px -1px;
}

input[type=checkbox].css-checkbox10:checked + label.css-label10{
    background:url(../images/flws.png) no-repeat -12px -63px;
}
input[type=checkbox].css-checkbox10 + label.css-label10{
    height:35px;
    width:35px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    background: url(../images/flws.png) no-repeat -11px -1px;
}
/*-- start scrollpane --*/
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane {
    position: absolute;
    outline: none;
    padding: 0.5em 0.5em 0 1em!important;
    background: #111;
	width: 319px!important;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right:4px;
	width:5px;
	height: 100%;
}
.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspCap{
	display: none;
}
.jspHorizontalBar .jspCap{
	float: left;
}
.jspTrack{
	background: #f0f0f0;
	position: relative;
}
.jspDrag{
	background:#5E5E5E;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{
	float: left;
	height: 100%;
}
.jspArrow{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow{
	height: 16px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus{
	outline: none;
}
.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}
/*----*/
.gallery{
	margin-top:1em;
	background:url(../images/gallery.png) no-repeat 0px 0px;
	background-size:cover;
	min-height:226px;
}
.gallery h3{
	color:#fff;
	font-family: 'NotoSans-Bold';
	font-size:1.3em;
	padding:1em 1em;
	line-height:1.3em;
}
.gm-cmnt{
	margin:6em 1em 0;
}
/*--joker--*/
.joker{
	margin-top:2em;
	position:relative;
}
.joker-hdr{
	background:#ffc600;
	text-align:center;
	padding:0.8em 0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.joker-hdr h3{
	font-family: 'NotoSans-Bold';
	font-size:1.4em;
	color:#000;
}
.joker-hdr img{
	position:absolute;
	right: 7px;
    top:2px;
}
.joker-info{
	background: rgb(35,24,28);
background: -moz-linear-gradient(45deg,  rgba(35,24,28,1) 29%, rgba(209,195,110,1) 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(29%,rgba(35,24,28,1)), color-stop(100%,rgba(209,195,110,1)));
background: -webkit-linear-gradient(45deg,  rgba(35,24,28,1) 29%,rgba(209,195,110,1) 100%);
background: -o-linear-gradient(45deg,  rgba(35,24,28,1) 29%,rgba(209,195,110,1) 100%);
background: -ms-linear-gradient(45deg,  rgba(35,24,28,1) 29%,rgba(209,195,110,1) 100%);
background: linear-gradient(45deg,  rgba(35,24,28,1) 29%,rgba(209,195,110,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23181c', endColorstr='#d1c36e',GradientType=1 );
	padding:1.5em;
	    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.joker-info h5{
	color:rgba(255, 255, 255, 0.3);
	font-size:0.9em;
	text-align:center;
}
.joker-info h5:before{
	content: '';
	display:inline-block;
	width:20%;
	height:1px;
	background:rgba(255, 255, 255, 0.3);
	margin-right:10px;
	    margin-bottom: 3px;
}
.joker-info h5:after{
	content: '';
	display:inline-block;
	width:20%;
	height:1px;
	background:rgba(255, 255, 255, 0.3);
	margin-left:10px;
	    margin-bottom: 3px;
}
.joker-cmnt{
	padding-top:1em;
}
.joker-cmnt h4{
	color:#ffc600;
	text-align:right;
	font-size:1.1em;
	    margin-top: 15px;
}
.joker-cmnt h4 img{
margin-right:5px;
}
.joker-cmnt h3{
	color:#fff;
	text-align:left;
	font-size:1em;
	    margin-top: 15px;
	line-height:1.3em;
}
.joker-cmnt h3 img{
margin-left:5px;
}
.joker-cmnt h3 span{
	display:block;
}
.joker-cmnt h4 span{
	display:block;
}
.joker-cmnt form{
	margin-top:2em;
	position:relative;
	 border-top: 1.5px solid #CBCBCB;
}
.joker-cmnt textarea {
    background: none;
   border:none;
    width: 100%;
    display: block;
    height:45px;
    outline: none;
    font-size: 0.9em;
    color: #fff;
    font-weight: 400;
    resize: none;
    padding: 7px 36px 10px 11px;
}
button.btn1.btn-1.btn-1b {
    background: url(../images/sub.png) no-repeat 0px 0px;
    border: none;
    width: 24px;
    height: 23px;
    position: absolute;
    right: 10px;
    top: 11px;
}
.download{
	margin-top:1em;
	background:#0e8ad9;
	padding:0em 2em 2em; 
	border-radius:6px;
}
.dwnld-pic{
	float:left;
	width:35%;
	margin-right:5%;
}
.dwnld-pic-info{
	float:left;
	width:60%;
	text-align:center;
	padding-top: 2em;
}
.dwnld-pic-info h3{
	color:#fff;
	font-size:1.2em;
}
.dwnld-pic-info p{
	color:#89ccf8;
	font-size:0.9em;
	line-height:1.3em;
	margin:1em 0 2em 0; 
}
.dwnld-pic-info a{
	color:#fff;
	padding:0.5em 2em;
	display:inline-block;
	border:2px solid #6eb9e8;
	border-radius:50px;
}
.dwnld-pic-info a:hover{
	background:#fff;
	color:#333;
}
.filter{
	margin-top:1em;
	background:#111111;
	padding:1.5em;
	border-radius: 5px;
}
.search2 {
  width: 100%;
  padding-top: 6px;
}
.search2 form {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.search2 input[type="search"] {
  border: none;
  padding: 9px 41px 9px 20px;
  font-size: 14px;
  background: #383838;
  color: #A9A8A8;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  border-radius: 30px;
}
.pricing ul li{
	display: inline-block;
    color: #878383;
    margin-right: 7px;
}
li.frm {
    width: 25%;
}
.pricing input[type="text"] {
width: 100%;
padding: 4px 7px;
border:none;
font-size: 1em;
margin:1em 0;
color: #000;
outline: none;
font-weight: 400;
margin-right:5%;
background:#fff;
border-radius:5px;
}
input#amount {
    width: 53%;
    background: #111111;
    border-radius: 5px;
    color: #898989;
    background: #fff;
}
.pricing h4{
color:#fff;
font-size:1.2em;
font-weight:600;
display:block;
margin:1em 0;
 font-family: 'NotoSans-Bold';
}
.fltr2 h4,.fltr3 h4{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    display: block;
    margin:0.5em 0 1em 0;
    font-family: 'NotoSans-Bold';
}
.fltr2 {
	position:relative;
}
.fltr2 ul li{
	    list-style: none;
    text-align: left;
}
.fltr2 ul li:nth-child(6){
	border-bottom:none;
}
.fltr2 ul li a{
    padding: 10px 20px;
    margin: 0;
    display: block;
	background:#f5f5f5;
	color:#333;
	font-size:1.1em;	
	text-decoration:none;
	font-family: 'NotoSans-Bold';
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.fltr2 ul li a:hover{
	color: #333;
    background: #ffc700;
}
.fltr2 ul li i {
    float: right;
}
.menu_3{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.menu_3_left {
    cursor: pointer;
    display: block;
	width:100%;
}
.menu_3 h3 {
    font-size: 1.2em;
    text-align: center;
    color: #333;
	padding:10px 0;
	font-family: 'NotoSans-Bold';
	background: rgb(250,250,250);
background: -moz-linear-gradient(top,  rgba(250,250,250,1) 11%, rgba(216,216,216,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,rgba(250,250,250,1)), color-stop(100%,rgba(216,216,216,1)));
background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 11%,rgba(216,216,216,1) 100%);
background: -o-linear-gradient(top,  rgba(250,250,250,1) 11%,rgba(216,216,216,1) 100%);
background: -ms-linear-gradient(top,  rgba(250,250,250,1) 11%,rgba(216,216,216,1) 100%);
background: linear-gradient(to bottom,  rgba(250,250,250,1) 11%,rgba(216,216,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d8d8d8',GradientType=0 );
border-radius:5px;

}
.menu_3_left_nav li.last_menu{
    border-bottom: none;
}
.menu_3_left_nav {
    display: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
.menu_3_left_nav li {
    display: block;
}
.menu_3_left_nav li a {
    display: block;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
}
.dwn-pic {
    position: absolute;
    top: 43px;
    right: 9px;
}
.fltr3{
	margin-top:1.5em;
}
.fltr3 input[type="text"] {
    width: 30%;
    padding: 4px 7px;
    border: none;
    font-size: 1em;
    color: #000;
    outline: none;
    font-weight: 400;
    margin-right: 5%;
    background: #fff;
    border-radius:3px;
}
.check_grid{
	margin-top:1em;
}
.fltr3 ul{
	margin-top:3px;
}
.fltr3 ul li{
	display:inline-block;
	color:#969696;
	font-size:0.8em;
	margin:0 17px;
}
.check_grid ul li{
    display: inline-block;
	margin:0px 5px;
}
.col_checkbox input[type="checkbox"] {
    display: none;
}
input[type=checkbox].css-checkbox2:checked + label.css-label2{
    background: url(../images/tic2.png) no-repeat 0px 3px;
}
input[type=checkbox].css-checkbox2 + label.css-label2 {
    height: 25px;
    width: 21px;
    display: inline-block;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 -37px;
    cursor: pointer;
    background: url(../images/tic2.png) no-repeat 0px -51px;
}

input[type=checkbox].css-checkbox1 + label.css-label1 {
    height: 25px;
    width: 21px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    border:none;
	background: url(../images/tic3.png) #231d2a no-repeat 0px 4px;
}
input[type=checkbox].css-checkbox1:checked + label.css-label1 {
    background: url(../images/tic3.png) no-repeat 0px -50px;
}

input[type=checkbox].css-checkbox3:checked + label.css-label3{
    background: url(../images/tic2.png) no-repeat 0px 3px;
}
input[type=checkbox].css-checkbox3 + label.css-label3{
    height: 25px;
    width: 21px;
    display: inline-block;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 -37px;
    cursor: pointer;
    background: url(../images/tic2.png) no-repeat 0px -51px;
}

input[type=checkbox].css-checkbox4 + label.css-label4 {
    height: 25px;
    width: 21px;
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    border:none;
	background: url(../images/tic3.png) #231d2a no-repeat 0px 4px;
}
input[type=checkbox].css-checkbox4:checked + label.css-label4{
    background: url(../images/tic3.png) no-repeat 0px -50px;
}
.check_grid p{
	color:#fff;
	display:inline-block;
	vertical-align: super;
	 font-family: 'NotoSans-Regular';
}
/*--tabs----*/
.content-bottom {
    margin-top: 2em;
}
.resp-tabs-container{
	width: 68%;
    margin-right: 4%;
	float:left;
}
.resp-tabs-list {
    width:28%;
	float:right;
    padding: 1em;
	background:#111111;
	    border-radius: 5px;
}
.tab-text h3 a {
  color: #918D8D;
  font-size: 1.4em;
  text-decoration: none;
}
i.resp-tab-item.lost {
  margin: 0;
}
.resp-tab-item{
  border:none;
  cursor: pointer;
  display:block;
  list-style: none;
  width:75%;
  margin:0 auto 0.7em;
  outline: none;
   border:2px solid #111111;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.resp-tab-item:nth-child(4){
	margin-bottom:0;
}
.resp-tab-item:hover {
   border:2px solid #ffc600;
}
.resp-tabs-list p{
	color:#fff;
	margin:0.5em 0 0.5em 2.8em;
	font-weight:600;
	font-size:1em;
}
.resp-tab-active {
   border:2px solid #ffc600;
    text-shadow: none;
    color: #2B2B2B;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}
.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.tab-text{
  width:68.5%;
  position: relative;
}
.post-meta {
  margin-top: 1em;
}
.link1 {
  font-size: 0.9em;
  color: #918A8A;
  font-style: italic;
  font-weight: 600;
}
.post-meta a:hover{
  color:red;
}
.tab-left{
  margin-bottom:5%;
}
li.resp-tab-item.lost{
  margin:0;
}
.facts iframe{
	width:100%;
	height:537px;
}
.copywrite {
    padding-top:3em;
    text-align: center;
}
.copywrite p {
    color: #fff;
    line-height: 1.8em;
    font-size: 1em;
}
.copywrite p a{
	color: #fff;
}

/*--responsive--*/
@media (max-width: 1440px){
}
@media (max-width: 1366px){
}
@media (max-width: 1280px){
.map iframe {
    width: 100%;
    height: 400px;
}
}
@media (max-width: 1080px){
.bnr-info h1 {
    padding: 0 2em;
}
.bnr-info p {
    font-size: 1em;
    width: 67%;
}
.banner-pic {
    width: 33%;
}
.banner1,.banner2{
    min-height: 462px;
}
.callbacks_nav {
    top: 57%;
    left:2%;
}	
.callbacks_nav.next {
    right: 2%;
}
.content-left {
    width: 100%;
    margin-right: 0;
}
.post2-pic {
    width: 43%;
    padding-right: 11px;
}
.post4 {
    width: 26%;
	margin: 0em 47px;
}
.dot2 {
    margin-top: 4em;
}
.post4-info {
    padding: 1.2em 2em;
}
.post6-pic {
    width: 35.5%;
}
.post8-text h4 {
    font-size: 1.2em;
}
.post8 h3 {
    margin-bottom: 10px;
}
.post6-pic-info {
    width: 64%;
}
canvas#canvas {
    width: 603px!important;
    height: 362px!important;
}
.content-right {
    width: 100%;
    margin-left: 0;
	margin-top:2em;
}
.post-pic {
    width: 10%;
    float: left;
}
.posts-grids {
    width: 49%;
    float: left;
	margin-right:1%;
}
.followers-sec {
    width: 49%;
    float: left;
    margin-left: 1%;
	margin-top: 0em;
}
.gallery {
    float: left;
    width: 49%;
    margin-right: 1%;
	margin-top: 2em;
	min-height: 327px;
}
.joker {
    float: left;
    width: 49%;
    margin-left: 1%;
}
.gm-cmnt {
    margin: 14em 1em 0;
}
.download {
    float: left;
    width: 34%;
    margin-right: 1%;
}
.filter {
    float: left;
    margin-left: 1%;
    width: 64%;
}
.facts iframe {
    width: 100%;
    height: 436px;
}
.jspPane {
    width: 461px!important;
}
}
@media (max-width: 1024px){
}
@media (max-width: 991px){
.logo {
    width: 100%;
}
.navbar-header {
    width: 9%;
}
.navbar-nav > li > a {
    padding-top:12px;
    padding-bottom: 6px;
}
.search input[type="search"] {
    padding: 5px 41px 5px 20px;
}
.search {
    width: 46%;
    padding-top: 6px;
}
.banner-text {
    width: 100%;
    padding: 0;
    margin-top: 0em;
}
.bnr-info p {
    width: 86%;
}
.bnr-info a {
    font-size: 0.9em;
}
.banner-pic {
    width: 33%;
    margin:1em auto 0 auto;
}
.banner1, .banner2 {
    min-height: 435px;
}
.banner1 {
    background: url(../images/slid1.jpg) no-repeat -56px 0px;
    background-size: cover;
}
.dot {
    text-align: center;
    margin-top:3em;
}
ul.callbacks_tabs.callbacks1_tabs {
    left: 46%;
}
.bnr2-text p {
    width: 81%;
    font-size: 2em;
}
.post2-pic {
    width: 50%;
    padding-right: 7px;
}
.post3,.post4,.post5{
    float: left;
}
.post3 p {
    font-size: 1.3em;
}
.comments2 ul li {
    margin: 0 2px;
}
.post4-info {
    padding: 1.2em 1em;
}
.post4 {
    width: 29%;
	margin: 0em 25px;
}
.post5 p {
    font-size: 0.9em;
}
.dot2 {
    margin-top: 1em;
}
.post5{
	padding: 1.5em 2em 1em;
}
.post6-pic {
    width: 52%;
}
.tag3 h4 a {
    padding: 9px 31px 8px 21px;
    font-size: 0.6em;
}
.post6-pic-info {
    width: 48%;
	padding: 3em 1em 0 0;
}
.post6-pic-info h3 {
    font-size: 1.5em;
    padding-right: 0em;
}
.post7 h3 {
    line-height: 1.2em;
}
.profil-post h3 {
    font-size: 1.5em;
}
.vd-cmnt ul li {
    margin: 0 9px;
}
.social {
    margin-left: 9px;
}
canvas#canvas {
    width: 440px!important;
    height: 362px!important;
}
.facts iframe {
    width: 100%;
    height: 359px;
}
.jspPane {
    width: 354px!important;
}
.jspContainer {
    height: 227px!important;
}
.jspHorizontalBar {
    display: none;
}
}
@media (max-width: 800px){
body {
    padding: 2em 0;
}
.resp-tabs-list p {
    color: #fff;
    margin: 0.5em 0 0.5em 1em;
    font-weight: 600;
    font-size: 0.825em;
}
.navbar {
    padding: 0.5em 0 0;
}
}
@media (max-width: 768px){
body {
    padding: 2em 0;
}
.bnr-info h1 {
    padding: 0 0em;
}
.jspHorizontalBar {
    display: none;
}
.resp-tabs-list p {
    color: #fff;
    margin: 0.5em 0 0.5em 1em;
    font-weight: 600;
    font-size: 0.825em;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffc600;
    background-color: transparent;
}
}
@media(max-width:640px){
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-toggle {
    margin-right: 15px;
	    margin-top: 1px;
}
.jspHorizontalBar {
    display: block;
}
.navbar-header {
    width: 100%;
    margin: 0;
}
.logo {
    width: 12%;
}
.navbar-nav {
    margin:0;
    display: inline-block;
	    width: 100%;
}
.search {
    width: 100%;
}
.search form {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
button.btn.btn-default {
    top: 10%;
    right: 4%;
}
.bnr-info h1 {
    font-size: 2em;
}
.tag h4 a {
    padding: 8px 36px 5px 15px;
    font-size: 0.6em;
    background-size: 74%;
}
.bnr-info p {
    width: 100%;
    font-size: 0.9em;
}
.bnr-info a {
    font-size: 0.85em;
    padding: 6px 1.2em;
}
.banner1, .banner2 {
    min-height: 445px;
}
.banner1 {
    background: url(../images/slid1.jpg) no-repeat -218px 0px;
    background-size: cover;
}
.banner-pic {
    width: 38%;
}
.bnr2-text p {
    width: 87%;
    font-size: 2em;
}
.banner-grids {
    padding-top: 78px;
}
.dot {
    margin-top:3em;
}
ul.callbacks_tabs.callbacks1_tabs {
    left: 45.5%;
}
.post3 {
    width: 100%;
	margin-bottom:2em;
}
.comments2 {
    text-align: center;
}
.post4 {
    width: 42%;
    margin: 0em 25px 0 0;
}
.post5 {
    padding: 3.3em 2em 1em;
    width: 53%;
}
.post6 {
    width: 100%;
    margin-right: 0%;
}
.post7 {
    width: 100%;
    margin-left: 0%;
	margin-top:2em;
}
.post8 {
    width: 100%;
    margin-right: 0%;
    padding: 1em 1em;
}
.post9 {
    margin-left: 0%;
    width:100%;
	margin-top:2em;
}
.graph-post {
    width: 100%;
    margin-right: 0%;
	margin-bottom:2em;
}
canvas#canvas {
    width: 575px!important;
    height: 362px!important;
}
.post10 {
    width: 100%;
    margin-left: 0%;
}
.post10 img {
    margin: 0 auto 1em;
    width: 14%;
}
.flw a{
	width:70%;
	margin:0 auto;
}
.social {
    margin-left: 12em;
}
.posts-grids {
    width: 100%;
    float: left;
    margin-right: 0%;
	margin-bottom:1em;
}
.calender {
    float: left;
    width: 100%;
    margin-right: 0%;
	margin-bottom:1em;
}
.map {
    width: 100%;
    margin-left: 0%;
}
.followers-sec {
    width: 100%;
    float: left;
    margin-left: 0%;
    margin-top: 0em;
}
.jspPane {
    width: 700px!important;
}
.flw-pic {
    float: left;
    width: 10%;
    margin-right: 4%;
}
.map iframe {
    width: 100%;
    height: 383px;
}
.gallery {
    float: left;
    width: 100%;
    margin-right: 0%;
    margin-top: 2em;
    min-height: 415px;
}
.gm-cmnt {
    margin: 21em 1em 0;
}
.joker {
    float: left;
    width: 100%;
    margin-left: 0%;
	margin-bottom:1em;
}
.download {
    float: left;
    width: 100%;
    margin-right: 0%;
}
.dwnld-pic {
    width: 15%;
}
.filter {
    float: left;
    margin-left: 0%;
    width: 100%;
	margin-top:2em;
}
.resp-tab-item {
    width: 31%;
    text-align: center;
    display: inline-block;
    margin:10px 5px;
}
.resp-tabs-container {
    width: 100%;
    margin-right: 0;
    float: left;
}
.resp-tabs-list {
    width: 100%;
}
.resp-tabs-list p {
    color: #fff;
    margin: 0.5em 0 0.5em 0em;
    font-weight: 600;
    font-size: 1em;
}
.facts iframe{
	margin-top:2em;
}
}
@media(max-width:568px){
.post3 {
    width: 100%;
	margin-bottom:2em;
}
.comments2 {
    text-align: center;
}
.post4 {
    width: 42%;
    margin: 0em 25px 0 0;
}
.post5 {
    padding: 3.3em 2em 1em;
    width: 53%;
}
.post6 {
    width: 100%;
    margin-right: 0%;
}
.post7 {
    width: 100%;
    margin-left: 0%;
	margin-top:2em;
}
.post8 {
    width: 100%;
    margin-right: 0%;
    padding: 1em 1em;
}
.post9 {
    margin-left: 0%;
    width:100%;
	margin-top:2em;
}
.graph-post {
    width: 100%;
    margin-right: 0%;
	margin-bottom:2em;
}
canvas#canvas {
    width: 575px!important;
    height: 362px!important;
}
.post10 {
    width: 100%;
    margin-left: 0%;
}
.post10 img {
    margin: 0 auto 1em;
    width: 14%;
}
.flw a{
	width:70%;
	margin:0 auto;
}
.social {
    margin-left: 12em;
}
.posts-grids {
    width: 100%;
    float: left;
    margin-right: 0%;
	margin-bottom:1em;
}
.calender {
    float: left;
    width: 100%;
    margin-right: 0%;
	margin-bottom:1em;
}
.map {
    width: 100%;
    margin-left: 0%;
}
.followers-sec {
    width: 100%;
    float: left;
    margin-left: 0%;
    margin-top: 0em;
}
.jspPane {
    width: 700px!important;
}
.flw-pic {
    float: left;
    width: 10%;
    margin-right: 4%;
}
.map iframe {
    width: 100%;
    height: 383px;
}
.gallery {
    float: left;
    width: 100%;
    margin-right: 0%;
    margin-top: 2em;
    min-height: 415px;
}
.gm-cmnt {
    margin: 21em 1em 0;
}
.joker {
    float: left;
    width: 100%;
    margin-left: 0%;
	margin-bottom:1em;
}
.download {
    float: left;
    width: 100%;
    margin-right: 0%;
}
.dwnld-pic {
    width: 15%;
}
.filter {
    float: left;
    margin-left: 0%;
    width: 100%;
	margin-top:2em;
}
.resp-tab-item {
    width: 30%;
    text-align: center;
}
.resp-tabs-container {
    width: 100%;
    margin-right: 0;
    float: left;
}
.resp-tabs-list {
    width: 100%;
}
.resp-tabs-list p {
    color: #fff;
    margin: 0.5em 0 0.5em 0em;
    font-weight: 600;
    font-size: 1em;
}
.video {
    float: left;
    width: 100%;
    margin-right: 0%;
}
.timer {
    width: 100%;
    margin-left: 0%;
}
canvas#canvas{
	width:500px!important;
	height:236px!important;
}
}
@media(max-width:480px){
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}
.banner1, .banner2 {
    min-height: 387px;
}
ul.callbacks_tabs.callbacks1_tabs {
    left: 43.5%;
}
.navbar-toggle {
    margin-right: 0;
}
.logo {
    width: 14%;
    padding-top:1px;
    margin-left:0px;
}
.banner1 {
    background: url(../images/slid1.jpg) no-repeat -248px 0px;
    background-size: cover;
}
.callbacks_nav {
    top: 57%;
    left: 3%;
    background-size: 83px;
    height: 44px;
    width: 34px;
}
.callbacks_nav.next {
    background-position: -44px 1px;
    right: 3%;
}
.bnr2-text p {
    width: 100%;
    font-size: 1.6em;
}
.bnr2-text {
    margin-top:5em;
}
.post1 {
    width: 100%;
    margin-right: 0%;
	margin-bottom:2em;
}
.post2 {
    width: 100%;
    margin-left: 0%;
}
.post4 {
    width: 100%;
    margin: 0 auto;
    float: none;
}
.post4 img{
	width:100%;
}
.post5 {
    width: 100%;
    margin-top: 2em;
}
.video {
    width: 100%;
    margin-right: 0%;
}
.timer {
    width: 100%;
    margin-left: 0%;
}
.bnr-info h1 {
    font-size: 1.5em;
}
.tag {
    margin-bottom: 1em;
}
.bnr-info p {
    font-size: 0.85em;
}
.banner-pic {
    width: 60%;
}
.post5 h3 {
    font-size: 1.3em;
}
.cmnt3 ul li {
    margin: 0 5px;
}
.post6-pic-info h3 a {
    font-size: 0.9em;
    padding-right: 0em;
}
.post6-pic-info p {
    font-size: 0.95em;
}
.profil-post h3 {
    font-size: 1.3em;
}
.profil-post p {
    font-size: 1em;
}
.profil-post {
    padding: 2em 2em;
}
.vd-cmnt {
    top: 191px;
    left: 24%;
}
.timer {
    padding: 1.8em 1em;
}
.timmer_btm {
    margin-top: 24px;
    padding-left: 0px;
    text-align: center;
}
canvas#canvas {
    width: 402px!important;
    height: 219px!important;
}
.social {
    margin-left: 7em;
}
h3.folw-name {
    width: 39%;
}
.vd {
    right: 4%;
    top: 4%;
}
.gm-cmnt {
    margin: 13em 1em 0;
}
.gallery {
    min-height: 307px;
}
.gallery h3 {
    font-size: 1.1em;
}

.resp-tabs-list p {
    margin: 0.5em 0 0.5em 0em;
    font-size: 0.8em;
}
}
@media (max-width: 375px){
canvas#canvas {
    width: 302px!important;
    height: 165px!important;
}
}
@media(max-width:320px){
.logo {
    width: 30%;
    padding-top: 0px;
    margin-left: 0;
	margin-bottom:10px;
}
.navbar-toggle {
    margin-top: 6px;
}
.banner1 {
    background: url(../images/slid1.jpg) no-repeat -280px 0px;
    background-size: cover;
}
.callbacks_nav {
    top: 57%;
    left: 3%;
    background-size: 50px;
    height: 44px;
    width: 20px;
}
.callbacks_nav.next {
    background-position: -27px 1px;
    right: 2%;
}
.bnr-info h1 {
    font-size: 1.2em;
}
.banner-pic {
    width: 82%;
}
.dot {
    margin-top: 2em;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.banner-grids {
    padding-top: 28px;
}
.bnr2-text {
    margin-top: 3em;
}
.banner2 {
    padding: 0em 2em 0;
    background: url(../images/slid2.jpg) no-repeat -201px 0px;
    background-size: cover;
}
.banner1, .banner2 {
    min-height: 300px;
}
.banner1 {
    padding: 0em 2em 0;
}
.post4 {
    width: 91%;
    margin: 0 auto;
    float: none;
}
.banner-pic {
    width: 78%;
}
.bnr2-text p {
    width: 100%;
    font-size: 1.2em;
}
.bnr2-top h3 {
    font-size: 1em;
}
.bnr2-top h4 {
    font-size: 0.8em;
}
ul.callbacks_tabs.callbacks1_tabs {
    left: 40.5%;
}
.post2-pic {
    width: 61%;
    padding-right: 0;
    margin: 0 auto;
    float: none;
}
.post2-info {
    float: left;
    width: 100%;
    padding-top: 1em;
}
.post2_text h3 a {
    font-size: 0.8em;
    line-height: 1em;
}
.post5 h3 {
    font-size: 1em;
}
.post6-pic {
    width: 100%;
}
.post6-pic-info {
    width: 100%;
    padding: 1em 1em 2em 1em;
}
.post6-pic-info h3 a {
    font-size: 0.8em;
}
.post7 h3 a {
    font-size: 0.7em;
    line-height: 1em;
}
.post8 h3 {
    margin-bottom: 2px;
    font-size: 5em;
}
.post8-text h4 {
    font-size: 1em;
}
.post8-text p {
    font-size: 0.9em;
}
.post8-btm h5 {
    font-size: 1em;
}
.profil-post {
    padding: 2em 1em;
}
.profil-post h3 {
    font-size: 1em;
	    margin-bottom: 0.6em;
}
.profil-post p {
    font-size: 0.85em;
}
.vd-cmnt {
    top: 187px;
    left: 10%;
}
canvas#canvas {
    width: 260px!important;
    height: 140px!important;
}
.post10 img {
    margin: 0 auto 1em;
    width: 33%;
}
.post10 h3{
	font-size:1.2em;
}
.social {
    margin-left: 23px;
}
h3.folw-name {
    width: 18%;
}
.post-pic-text {
    width: 82%;
    float: left;
    margin-left: 7%;
}
.post-pic-text h5 a {
    font-size: 1em;
}
.post-pic-text p {
    font-size: 0.8em;
}
h3.folw-name {
    font-size: 1em;
    width: 19%;
}
.flw-pic {
    float: left;
    width: 7%;
    margin-right: 4%;
}
.graph {
    padding: 2em 0;
}
.gm-cmnt {
    margin: 4em 1em 0;
}
.gallery {
    min-height: 150px;
}
.facts iframe {
    width: 100%;
    height: 190px;
}
.copywrite p {
    font-size:0.85em;
}
.resp-tab-item {
    width: 28%;
}
}